<!-- Edit this to add custom titles to your pages -->
{% block pagetitle %}Main Page{% endblock %}

{% block content %}
    <section>
        <article>
            They're late. My experiment worked. They're all exactly twenty-five minutes slow. I had a horrible nightmare, dreamed I went back in time, it was terrible. Oh Mom, there's nothing wrong with calling a boy. Yeah, sure, okay. The appropriate question is, weren't the hell are they.
        </article>
    </section>
	<!-- TODO: Stuff! -->
{% endblock %}