<!-- Edit this to add custom titles to your pages -->
{% block pagetitle %}Main Page{% endblock %}

{% block content %} 
	<p>An empty, simple boilerplate for a fresh start.</p>     
	<!-- TODO: Stuff! -->
{% endblock %}